<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCraft Chronicle</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <main>
        <section>
            <h2>Welcome to DevCraft Chronicle</h2>
            <p>Explore and share your thoughts on the latest tech trends.</p>
        </section>

        <section>
            <div>
                <button onclick="window.location.href='/login'">Login</button>
            </div>
            <div>
                <button onclick="window.location.href='/signup'">Sign Up</button>
            </div>
        </section>
    </main>

    <footer>
        Brought to you by Ranee Bracker
    </footer>

    <script src="/public/js/login.js">
    <script src="/public/js/logout.js">

</body>

</html>
