<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCraft Chronicle</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" >
</head>

<body>
    <header>
        <nav>
            <div>
                <h1>DevCraft Chronicle</h1>
            </div>
            <div>
                <ul>
                    <li><button onclick="window.location.href='/profile'">Profile</button></li>
                    <li><button onclick="window.location.href='/logout'">Logout</button></li>
                    <li><button onclick="window.location.href='/dashboard'">Dashboard</button></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <h2>Latest Posts</h2>
            <div>
                <p>Sample post content goes here.</p>
            </div>
        </section>

        <section>
            <button onclick="window.location.href='/write-post'">Write a New Post</button>
        </section>
    </main>

    <footer>
        Brought to you by Ranee Bracker
    </footer>

    <!-- link js file here once i get to it -->
</body>

</html>
